<!-- Side Navbar -->
<nav class="side-navbar">
  
 <!-- <div class="text-right closesidebar p-4"><a><span class="material-icons">keyboard_backspace</span></a></div>
  -->
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/users">USERLIST</a></li>
    <li><a routerLink="/user-register">ADD USERS</a></li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/clients">CLIENT LIST</a></li>
    <li><a routerLink="/add-client">ADD CLIENTS</a></li>
  </ul>

  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li>
      <a (click)="onNavigation('/customers')" routerLink="/customers"
        >CUSTOMER LIST</a
      >
    </li>
    <li>
      <a (click)="onNavigation('/add-customer')" routerLink="/add-customer"
        >ADD CUSTOMERS</a
      >
    </li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li>
      <a (click)="onNavigation('/projects')" routerLink="/projects"
        >PROJECT LIST</a
      >
    </li>
    <li>
      <a (click)="onNavigation('/add-project')" routerLink="/add-project"
        >ADD PROJECTS</a
      >
    </li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li>
      <a (click)="onNavigation('/products')" routerLink="/products"
        >PRODUCT LIST</a
      >
    </li>
    <li>
      <a (click)="onNavigation('/add-product')" routerLink="/add-product"
        >ADD PRODUCTS</a
      >
    </li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/categories">PRODUCT CATEGORY</a></li>
    <li><a routerLink="/file-categories">PROJECT CATEGORY</a></li>
  </ul>
</nav>

