 <!-- Side Navbar -->
 <nav class="side-navbar py-5">
  
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/users">USERLIST</a></li>
    <li><a routerLink="/user-register">ADD USERS</a></li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/clients">CLIENT LIST</a></li>
    <li><a routerLink="/add-client">ADD CLIENTS</a></li>
  </ul>

  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li><a routerLink="/customers">CUSTOMER LIST</a></li>
    <li><a routerLink="/add-customer">ADD CUSTOMERS</a></li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li><a routerLink="/projects">PROJECT LIST</a></li>
    <li><a routerLink="/add-project">ADD PROJECTS</a></li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 1">
    <li><a routerLink="/products">PRODUCT LIST</a></li>
    <li><a routerLink="/add-product">ADD PRODUCTS</a></li>
  </ul>
  <ul class="list-unstyled" *ngIf="currentUser.role == 0">
    <li><a routerLink="/categories">PRODUCT CATEGORY</a></li>
    <li><a routerLink="/file-categories">PROJECT CATEGORY</a></li>
  </ul>
</nav>