<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>
<div class="page">
  <!-- Main Navbar-->
  <app-header></app-header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
      <div class="content-inner">
      <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/customers">Home</a></li>
                  <li class="breadcrumb-item"><a routerLink="/products">Products</a></li>
                  <li class="breadcrumb-item active">Product List</li>
              </ul>
          </div>
      <!-- Forms Section-->
      <section class="forms">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 main">
                  <div class="form-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text"  name="search" class="form-control" placeholder="Search" (keyup.enter)="search($event.target.value)">
                  </div>
                </div>
                <div class="col-md-12 main" *ngIf="!productInfo">
                  <div class="form-group has-search">
                   <span style="float: right;">
                    <span class="fa fa-list" (click)="viewType('list')"></span>
                    &nbsp;
                    <span class="fa fa-th" (click)="viewType('grid')"></span>
                  </span>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="!productInfo && listView">
                    <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Qty.</th>
                            <th>Dimensions</th>
                            <th>Discription</th>
                            <th>Status</th> 
                            <!-- <th>Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products; index as i">
                            <th scope="row">{{i + 1}}</th>
                                <td><a routerLink="/view-product/{{product?.id}}">{{product.product_id}}</a></td>
                                <td><a routerLink="/view-product/{{product?.id}}">{{product.product_name}}</a></td>
                                <td>{{product?.category.category_name}}</td>
                                <td>{{product?.price_new_product}}</td>
                                <td>{{product?.quantity}}</td>
                                <td>{{product?.height}}X{{product?.length}}X{{product?.width}}</td>
                                <td>{{product?.description}}</td>
                                <td>{{(product.status) ? 'Available' : 'Not Available'}}</td>
                                <!-- <td>
                                  <a routerLink="/edit-product/{{product?.id}}" class="mr-1 btn btn-sm btn-secondary">Edit</a>
                                  <a (click)="deleteProduct(product?.id)" class="mr-1 btn btn-sm btn-danger text-white">Delete</a>
                                </td> -->
                            </tr>
                            <tr *ngIf="products?.length == 0">
                              <td class="text-center" colspan="8">No Products Found</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4" *ngIf="!productInfo && gridView">
                  <div class="">
                    <div class="">
                      <div class="row">
                        <div class="col-md-3 p-2" *ngFor="let product of products; index as i">
                          <div class="card">
                            <a href="javascript:void();" routerLink="/view-product/{{product?.id}}"><img src="{{image_base_path}}/{{product.product_image}}" class="card-img-top" alt="..." height="200px" width="auto"></a>
                            <div class="card-body">
                            <h5 class="card-title"><a href="javascript:void();" routerLink="/view-product/{{product?.id}}">{{product.product_name}}</a></h5>
                            </div>
                          </div>
                        </div>
                      </div>							
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>