<div class="gooey align-items-center" *ngIf="loadingData">
  <span class="dot"></span>
  <div class="dots">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>
<div class="page">
  <!-- Main Navbar-->
  <app-header></app-header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    <app-left-nav></app-left-nav>
      <div class="content-inner">
      <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/customers">Home</a></li>
                  <li class="breadcrumb-item"><a routerLink="/products">Products</a></li>
                  <li class="breadcrumb-item active">Product List</li>
              </ul>
          </div>
      <!-- Forms Section-->
      <section class="forms py-3">
          <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 main">
                  <div class="form-group has-search" id="searchDiv">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" name="search" class="form-control" placeholder="Search" (input)="search($event.target.value)">
                  </div>
                </div>
                <div class="col-md-12 main" *ngIf="!productInfo">
                  <div class="form-group has-search">
                   <span style="float: right;">
                    <a (click)='pdf()' href='javascript:void(0);'><span class="fa fa-file-pdf-o"></span></a>
                    &nbsp;
                    <a (click)="viewType('list')" href='javascript:void(0);'><span class="fa fa-list"></span></a>
                    &nbsp;
                    <span id="myButton" class="h4"><a (click)='filter()' href='javascript:void(0);'> F </a></span>
                    &nbsp;
                    <a (click)="viewType('grid')" href='javascript:void(0);'><span class="fa fa-th"></span></a>
                  </span>
                  </div>
                </div>
                <div class='mydiv p-3'>
                  <span class="close"><a (click)="closeFilter()" href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a></span>
                    <div class="panel-body py-4" >
                      <div class="panel-heading " >
                        <h6 class="panel-title">
                          <a data-toggle="collapse" href="#collapse0">
                            <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Customers ({{customer_count}})
                          </a>
                        </h6>
                      </div>
                      <div id="collapse0" class="panel-collapse collapse" >
                        <ul class="list-group">
                          <li class="list-group-item"  *ngFor="let customer of customers; index as i">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="customers" [(ngModel)]="customer.isChecked" value="{{customer.id}}" (click)="showProject($event)">
                                {{customer.customer_name}}
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    
                      <div class="panel-heading py-2" >
                        <h6 class="panel-title">
                          <a data-toggle="collapse" href="#collapse01">
                            <i class="indicator fa fa-caret-down" aria-hidden="true"></i>Projects ({{project_count}})
                          </a>
                        </h6>
                      </div>
                      <div id="collapse01" class="panel-collapse collapse" >
                        <ul class="list-group ">
                          <li class="list-group-item">
                            <input type="text" placeholder="Search" [(ngModel)]="term" />
                          </li>
                          
                          <li class="list-group-item" *ngFor="let eachproject of filterProject | filter:term">
                            <div class="checkbox">
                             
                              <label>
                                <input type="checkbox"  name="projects" value="{{eachproject.id}}" [(ngModel)]="eachproject.isChecked" (click)="addProject($event)">
                                {{eachproject.project_name}}
                              </label>
                            </div>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 px-2">
                        <div class="form-group">
                          <input type="button" name="apply" (click)= "applyFilter()" value="Apply Filter" class="btn btn-default btn-block btn-sm">
                        </div>
                      </div>
                      <div class="col-md-6 px-2">
                        <div class="form-group">
                          <input type="button" name="reset" (click)="resetFilter()" value="Reset Filter" class="btn btn-default btn-block btn-sm">
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-12" *ngIf="!productInfo && listView">
                    <div class="card">
                    <div class="card-body">
                        <table class="table table-hover" datatable [dtOptions]="dtOptions" width="100%">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Product ID</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Qty.</th>
                            <th>Dimensions</th>
                            <th>Discription</th>
                            <th>Status</th> 
                            <!-- <th>Action</th> -->
                          </tr>
                        </thead>
                        </table>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4" *ngIf="!productInfo && gridView">
                  <div class="">
                    <div class="">
                      <div class="row">
                        <div class="col-md-3 p-2" *ngFor="let product of products; index as i">
                          <div class="card p-2">
                            <a href="javascript:void();" routerLink="/view-product/{{product?.id}}" *ngIf="product.product_image"><img src="{{image_base_path}}/{{product.product_image}}"  class="card-img-top" alt="..." height="200px" width="auto"></a>
                            <a href="javascript:void();" routerLink="/view-product/{{product?.id}}" *ngIf="!product.product_image"><img src="assets/images/default.jpg" class="card-img-top" alt="..." height="200px" width="auto"></a>
                            <div class="card-body">
                            <h5 class="card-title"><a href="javascript:void();" routerLink="/view-product/{{product?.id}}" style="word-break: break-all;">{{product.product_name_raw}}</a></h5>
                            </div>
                          </div>
                        </div>
                      </div>							
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <!-- Page Footer-->
      <app-footer></app-footer>
    </div>
  </div>
</div>